<h1 appFontSize mat-dialog-title>Formulario de carga de Nuevos Alumnos</h1>

<div mat-dialog-content>
  <form [formGroup]="formularioNuevoAlumno" class="my-3">

    <div class="row">

      <div class="col-6">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input [formControl]="nombreControl" matInput placeholder="Nombre" />
      <mat-hint></mat-hint>
      <mat-error *ngFor="let error of nombreControl.errors | keyvalue">{{
        error | ControlErrorMessages
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="col-6">
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input [formControl]="apellidoControl" matInput placeholder="Apellido" />
      <mat-hint></mat-hint>
      <mat-error *ngFor="let error of apellidoControl.errors | keyvalue">{{
        error | ControlErrorMessages
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="col-6">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        [formControl]="emailControl"
        matInput
        placeholder="Email@ejempli.com"
      />
      <mat-hint></mat-hint>
      <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{
        error | ControlErrorMessages
      }}</mat-error>
    </mat-form-field>

  </div>


  <div class="col-6">
    <mat-form-field appearance="outline">
      <mat-label>Cursos</mat-label>
      <mat-select matNativeControl required [formControl]="cursoControl">
        <mat-option 
        *ngFor="let curso of cursos" 
        [value]="curso.value"
        >
        {{ curso.viewValue }}
      </mat-option>
      </mat-select>
      <mat-hint>Seleccione un curso</mat-hint>
      <mat-error *ngFor="let error of cursoControl.errors | keyvalue">
        {{error | ControlErrorMessages }}</mat-error>
    </mat-form-field>
  </div>

  </div>

  </form>
</div>

<div mat-dialog-actions >
  <button 
  mat-button 
  mat-dialog-close
  >Cancelar</button>
  
  <button 
  (click)="guardar()" 
  mat-button 
  [disabled]="formularioNuevoAlumno.invalid"
  >Guardar</button>
</div>

