<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    
    
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Alumnos Inscriptos
    </button>

    <button (click)="showFiller = !showFiller" mat-raised-button>
      Notas
    </button>

    <button (click)="showFiller = !showFiller" mat-raised-button>
      Profesores
    </button>

    <button (click)="showFiller = !showFiller" mat-raised-button>
      Chat
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>

      </button>
    </mat-toolbar>

    <main>
      <app-alumnos></app-alumnos>

    </main>
  </div>
</mat-drawer-container>
